@charset "UTF-8";

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: "Rubik", sans-serif;
}

.fixed {
  overflow: hidden;
}

.bgColor1 {
  background-color: rgba(0, 0, 0, 0.3960784314);
}

.bgColor2 {
  background-color: #242323;
}

.header {
  width: 100%;
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.6117647059);
          box-shadow: 0 1px 9px rgba(0, 0, 0, 0.6117647059);
  height: 131px;
  position: fixed;
  z-index: 99;
}

.header__wrap {
  max-width: 1030px;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img {
  max-width: 190px;
  max-height: 115px;
  width: 100%;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li a {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  font-size: 19px;
  margin-right: 50px;
}

.header__lang {
  background-color: #525EB4;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.dropbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 14px;
}

.dropbtn::before {
  content: url(../img/POL.svg);
  margin-right: 10px;
  height: 22px;
}

.dropbtn::after {
  content: url(../img/arrow.svg);
  margin-left: 39.5px;
}

.dropdown-content img {
  width: 22px;
  height: 22px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dropbtn {
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  background-color: #525EB4;
  font-size: 16px;
  border-radius: 10px;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  background-color: #525EB4;
}

/* Выпадающее содержимое (скрыто по умолчанию) */

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: -7px;
  border-radius: 0 0 10px 10px;
  background-color: #525EB4;
}

/* Ссылки внутри выпадающего списка */

.dropdown-content a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
  background-color: #525EB4;
  width: 132px;
  padding: 12px 14px;
}

.dropdown-content img {
  margin-right: 10px;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */

.show {
  display: block;
}

.dropdown-top {
  padding-top: 18px !important;
}

.dropdown-bottom {
  border-radius: 0 0 10px 10px;
}

.arrow::after {
  content: url(../img/arrow.svg) !important;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 39.5px;
}

.btn-up_hide {
  display: none;
}

.btn-up {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 25px;
  right: 25px;
  z-index: 5;
  text-align: center;
  cursor: pointer;
  display: none;
}

.btn-up_hide {
  display: none !important;
}

.menuBur,
.menu-btn {
  display: none;
}

.footer {
  width: 100%;
  background-color: #242323;
}

.footer__wrap {
  max-width: 1030px;
  padding: 30px 15px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  width: 30%;
}

.footer__logo-img {
  max-width: 205px;
  max-height: 125px;
  width: 100%;
}

.footer__menu {
  padding-top: 15px;
  width: 30%;
}

.footer__menu li a {
  font-size: 17px;
  color: #F4F4F4;
  font-weight: 500;
  margin-bottom: 25px;
}

.footer__menu li {
  margin-bottom: 15px;
  text-align: center;
}

.footer__info {
  padding-top: 15px;
  color: #727171;
  font-size: 16px;
  text-align: right;
  width: 30%;
}

.footer__info a {
  color: #727171;
  font-size: 16px;
}

.footer__info-tel {
  margin-bottom: 35px;
}

.footer__info-mail {
  margin-bottom: 35px;
}

.footer__info-adress {
  margin-bottom: 35px;
}

.first-screen {
  position: relative;
  background-color: #242323;
}

.first-screen__video-backg {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.first-screen__video video {
  height: 100%;
  width: 100%;
  max-height: 707px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  opacity: 1;
}

.first-screen__text {
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 40%;
  text-align: center;
}

.first-screen__text-h1 {
  font-size: 50px;
  font-weight: 500;
  max-width: 750px;
  line-height: 65px;
  margin-bottom: 30px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}

.first-screen__text-p {
  font-size: 26px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  margin-bottom: 35px;
}

.first-screen__text-a {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.1em;
  background-color: #525CCF;
  border-radius: 15px;
  padding: 15px 23px;
}

.second-screen {
  width: 100%;
  background-color: #242323;
}

.second-screen-wrap {
  max-width: 1280px;
  margin: auto;
  padding: 60px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-screen__img {
  margin-right: 70px;
}

.second-screen__img-pic {
  max-width: 430px;
  max-height: 540px;
  width: 100%;
}

.second-screen__text {
  max-width: 615px;
}

.second-screen__text-h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  color: #fff;
  line-height: 50px;
  margin-bottom: 30px;
  font-weight: 700;
}

.second-screen__text-p {
  color: #999A9F;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  max-width: 600px;
  margin-bottom: 30px;
}

.second-screen__text-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-screen__text-info_img {
  width: 65px;
  height: 65px;
  margin-right: 30px;
}

.second-screen__text-info_tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-screen__text-info_telText {
  color: #999A9F;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
}

.second-screen__text-info_telNumb {
  color: #E3E3E3;
  font-size: 20px;
  text-decoration: underline;
  font-weight: 700;
}

.second-screen__text-info_btn {
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: 700;
  color: #FFFFFF;
  font-family: "Ubuntu", sans-serif;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: inline-block;
  background-color: #525ccf;
  border-radius: 15px;
  padding: 18px 45px;
}

.second-screen__text-info_btn:hover {
  background-color: #6E7088;
}

.third-screen {
  width: 100%;
  position: relative;
  background-color: #242323;
}

.third-screen__video {
  height: 700px;
}

.third-screen__video-backg {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.third-screen__form {
  position: absolute;
  top: 13%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
          box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
  background-color: rgba(36, 35, 35, 0.9098039216);
  border-radius: 25px;
  width: 790px;
  margin: auto;
  padding: 30px 40px;
}

.third-screen__form-h {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #fff;
  max-width: 420px;
  font-weight: 700;
  font-size: 32px;
  margin: auto;
  line-height: 40px;
  margin-bottom: 20px;
}

.third-screen__form-p {
  font-size: 18px;
  color: #fff;
  text-align: center;
  max-width: 400px;
  margin: auto;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 50px;
}

.third-screen__form-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third-screen__form-input {
  color: #e3e3e3;
  font-size: 15px;
  font-weight: 500;
  padding-left: 15px;
  width: 300px;
  height: 40px;
  background-color: rgba(82, 92, 207, 0.2588235294);
  border-radius: 10px;
  border: 2px solid #a3a0a0;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.third-screen__form-input:focus {
  background-color: rgba(25, 65, 22, 0.1490196078);
  border: 2px solid #000;
}

.third-screen__form-input:hover {
  background-color: rgba(25, 65, 22, 0.1490196078);
}

.third-screen__form-check {
  display: block;
  margin-right: 15px;
}

.checked-wrap a {
  color: #fff;
  text-decoration: underline;
}

.third-screen__form-btn {
  display: block;
  background-color: #525CCF;
  width: 100%;
  max-width: 600px;
  margin: auto;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 16px;
  font-weight: 700;
  padding: 13px 0;
  border-radius: 15px;
}

.third-screen__form-btn:hover {
  background-color: #6E7088;
}

.checked-wrap {
  max-width: 650px;
  margin: auto;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 12px;
  margin-bottom: 40px;
}

.servise-block {
  width: 100%;
  background-color: #242323;
}

.servise-block__wrap {
  max-width: 1030px;
  margin: auto;
  padding: 30px 15px;
  position: relative;
  text-align: center;
}

.servise-block__wrap-p {
  text-align: center;
  font-size: 18px;
  color: #999A9F;
  font-weight: 500;
  margin-bottom: 5px;
}

.servise-block__wrap-h3 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.servise-block__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.servise-block__icons-item {
  max-width: 297px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.servise-block__icons-item-img {
  width: 65px;
  height: 65px;
  margin-bottom: 15px;
}

.servise-block__icons-item-p {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}

.servise-block__icons-item-deck {
  font-size: 16px;
  color: #999A9F;
}

.servise-block__wrap-absol1 {
  max-width: 240px;
  position: absolute;
  top: 39%;
  left: 28%;
  -webkit-transform: translateX(-28%);
      -ms-transform: translateX(-28%);
          transform: translateX(-28%);
}

.servise-block__wrap-absol2 {
  max-width: 240px;
  position: absolute;
  top: 39%;
  left: 73%;
  -webkit-transform: translateX(-73%);
      -ms-transform: translateX(-73%);
          transform: translateX(-73%);
}

.servise-block__wrap-a {
  color: #FFf;
  display: inline-block;
  background-color: #525ccf;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 93px;
  border-radius: 15px;
}

.servise-block__wrap-a:hover {
  background-color: #6e7088;
}

.numbers-block {
  width: 100%;
  background-color: #525EB4;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  font-family: "Ubuntu", sans-serif;
}

.numbers-block__wrap {
  max-width: 1030px;
  padding: 40px 15px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.numbers-block__item {
  text-align: center;
}

.numbers-block__num {
  font-size: 44px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.numbers-block__hr {
  height: 5px;
  color: #fff;
  width: 50px;
  margin: auto;
  display: block;
  background-color: #fff;
  margin-bottom: 25px;
}

.numbers-block__desc {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.objects-block {
  width: 100%;
  background-color: #242323;
}

.objects-block__wrap {
  max-width: 1030px;
  margin: auto;
  padding: 60px 15px;
}

.objects-block__h {
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

.objects-block__desc {
  font-size: 20px;
  color: #999A9F;
  border-left: 10px solid #525EB4;
  padding-left: 18px;
  line-height: 1.4em;
  margin-bottom: 60px;
}

.objects-block__item {
  background-color: rgba(27, 26, 26, 0.91);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.objects-block__item-img {
  max-width: 480px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.objects-block__item-info {
  max-width: 50%;
  padding: 10px 30px 10px 0;
}

.objects-block__item-info-h {
  font-size: 26px;
  font-weight: 700;
  color: #525EB4;
  margin-bottom: 15px;
}

.objects-block__item-info-street {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 700;
}

.objects-block__item-info-rooms {
  font-size: 18px;
  color: #525EB4;
  margin-bottom: 15px;
  font-weight: 700;
}

.objects-block__item-info-rooms2 {
  font-size: 18px;
  color: #525EB4;
  margin-bottom: 15px;
  font-weight: 700;
  padding-left: 22px;
  position: relative;
}

.objects-block__item-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.objects-block__item-info-meters {
  display: block;
  padding-left: 22px;
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 30px;
}

.objects-block__item-info-meters_right {
  padding-left: 0;
}

.objects-block__item-info_before::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #525EB4;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
}

.objects-block__item-info_before2::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #525EB4;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
}

.objects-block__item-info-desc {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  line-height: 33px;
  margin-bottom: 15px;
}

.objects-block__item-info-price-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objects-block__item-info-price {
  font-size: 26px;
  color: #525EB4;
  font-weight: 500;
}

.objects-block__item-info-btn {
  font-size: 16px;
  letter-spacing: 0.15em;
  font-weight: 700;
  color: #525EB4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  border: 2px solid #525EB4;
  padding: 10px 35px;
  display: inline-block;
}

.objects-block__item-info-btn:hover {
  text-decoration: underline;
}

.objects-block__item-info_right {
  text-align: right;
  padding: 10px 0px 10px 30px !important;
}

.objects-block__item-info-wrap_right {
  margin: auto;
  margin-right: 0;
}

.no-webp .form-block{
  background-image: url(../img/form-bg.png); }

.form-block {
  width: 100%;
  position: relative;
  width: 100%;
  height: 650px;
  max-height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-block_bg {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.contacts-block {
  width: 100%;
  background-color: #242323;
}

.contacts-block__wrap {
  max-width: 1030px;
  margin: auto;
  padding: 50px 15px;
  font-family: "Ubuntu", sans-serif;
}

.contacts-block__h {
  font-size: 40px;
  color: #F7F7F7;
  text-align: center;
  margin-bottom: 50px;
}

.contacts-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-block__item {
  max-width: 255px;
  width: 100%;
  height: 210px;
  background-color: #525CCF;
  text-align: center;
  border-radius: 15px;
  padding: 60px 30px 0 30px;
}

.contacts-block__item-desc {
  font-size: 24px;
  font-weight: 700;
  color: #F7F7F7;
  margin-bottom: 40px;
}

.contacts-block__item-src {
  font-size: 18px;
  font-weight: 700;
  color: #F7F7F7;
  text-decoration: underline;
  line-height: 23px;
}

.contacts-block__item-src:hover {
  text-decoration: underline;
}

.contacts-hr_big {
  height: 1px;
  color: #525CCF;
  width: 70%;
  margin: auto;
  display: none;
  background-color: #525CCF;
  margin-bottom: 25px;
}

.contacts-hr_sm {
  height: 4px;
  color: #525CCF;
  width: 20%;
  margin: auto;
  display: none;
  background-color: #525CCF;
  margin-bottom: 25px;
}

.policy {
  width: 100%;
  background-color: #242323;
}

.policy__wrap {
  max-width: 1030px;
  margin: auto;
  padding: 180px 15px 40px 15px;
}

.policy__h {
  font-size: 35px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.policy__p {
  font-size: 35px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-bottom: 40px;
}

.policy__content {
  color: #F7F7F7;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.4em;
}

.policy__content span a {
  color: #F7F7F7;
  font-size: 18px;
  line-height: 1.4em;
  text-decoration: underline;
}

@media (max-width: 1150px) {
  .first-screen__text-h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
    width: 600px;
  }

  .first-screen__text {
    top: 33%;
  }
}

@media (max-width: 1000px) {
  .second-screen__img {
    margin-right: 0px;
  }

  .second-screen-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .second-screen__text {
    text-align: center;
    margin-top: 20px;
  }

  .objects-block__wrap,
  .objects-block__wrap_right {
    text-align: center;
  }

  .objects-block__item-info-wrap_right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .objects-block__desc {
    border-left: 0;
  }

  .objects-block__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .objects-block__item_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .objects-block__item-img {
    margin-bottom: 20px;
  }

  .objects-block__item-info-wrap {
    margin: auto;
  }

  .objects-block__item-info-meters {
    padding-left: 31px;
  }

  .objects-block__item-info-meters_right {
    padding-left: 0;
  }

  .objects-block__item-info-rooms2 {
    padding-left: 31px;
  }

  .objects-block__item-info {
    padding-right: 0;
  }

  .objects-block__item-info_right {
    padding-left: 0 !important;
    text-align: center;
    margin-bottom: 20px;
  }

  .objects-block__item-info-wrap {
    max-width: 90%;
    margin: auto;
  }

  .objects-block__item-info_before::before,
  .objects-block__item-info_before2::before {
    display: none;
  }
}

@media (max-width: 950px) {
  .servise-block__wrap-absol2,
  .servise-block__wrap-absol1 {
    display: none;
  }
}

@media (max-width: 900px) {
  .dropdown-content a {
    width: 131.5px;
  }

  .header__wrap {
    padding-left: 60px;
  }

  .header__menu,
  .header__lang {
    display: none;
  }

  .header {
    background-color: #2F2E2E;
    position: relative;
    height: 100%;
  }

  .header__logo {
    margin: auto;
    width: 130px;
  }

  .header__logo-img {
    max-width: 130px;
  }

  .header__lang-mob {
    position: relative;
    display: block;
    border-radius: 10px;
    max-width: 131.5px;
    margin: auto;
    background-color: #525EB4;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
  }

  .menu-btn {
    display: block;
  }

  .menuBur {
    display: inline;
  }

  .menu-btn {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    margin-left: 30px;
  }

  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 7px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 7px);
  }

  /* Меню, которое будет появляться */

  .menuBur {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #33343F;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 10;
  }

  .menuBur.active {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }

  /* Меняем гамбургер иконку, когда меню открыто */

  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }

  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
        -ms-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(-45deg);
        -ms-transform: translate(-50%, 0%) rotate(-45deg);
            transform: translate(-50%, 0%) rotate(-45deg);
  }

  .menu-mob {
    text-align: center;
    padding-top: 30%;
    margin-bottom: 30px;
  }

  .menu-mob li a {
    font-size: 22px;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
  }

  .btn-up {
    display: block;
  }

  .first-screen__video video {
    display: none;
  }

  .no-webp .first-screen__video{
    background-image: url(../img/mob-backg.png); }

  .first-screen__video {
    width: 100%;
    height: 700px;
    max-height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .third-screen__video video {
    display: none;
  }

  .no-webp .third-screen__video{
    background-image: url(../img/city-bg.png); }

  .third-screen__video {
    width: 100%;
    height: 700px;
    max-height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .third-screen__form {
    width: 600px;
    top: 9%;
  }

  .third-screen__form-wrap form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .checked-wrap {
    margin-top: 0px;
  }

  .third-screen__form-input {
    margin-bottom: 30px;
  }

  .third-screen__form-p {
    margin-bottom: 30px;
  }

  .servise-block__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .servise-block__icons-item {
    margin-bottom: 40px;
  }

  .servise-block__icons {
    margin-bottom: 0;
  }
}

@media (max-width: 850px) {
  .contacts-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts-block__item {
    margin-bottom: 40px;
  }
}

@media (max-width: 786px) {
  .policy__wrap {
    padding: 60px 15px 40px 15px;
  }

  .policy__h,
  .policy__p {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .footer__menu,
  .footer__info {
    display: none;
  }

  .footer__logo {
    width: 205px;
    margin: auto;
  }

  .footer {
    border-top: 0.5px solid rgba(255, 255, 255, 0.12);
  }

  .first-screen__text-h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
    width: 400px;
  }

  .first-screen__text {
    top: 25%;
  }
}

@media (max-width: 700px) {
  .numbers-block__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .numbers-block__item {
    margin-bottom: 30px;
  }

  .numbers-block__num {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .numbers-block__hr {
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .second-screen__text-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .second-screen__text-info_tel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }

  .second-screen__text-info_img {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .second-screen__text-h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .btn-up {
    right: 12px;
  }

  .third-screen__form {
    width: 400px;
    top: 4%;
  }

  .third-screen__form-h {
    font-size: 28px;
    line-height: 35px;
  }

  .objects-block__wrap {
    padding-bottom: 20px;
  }

  .objects-block__h {
    font-size: 30px;
  }

  .objects-block__desc {
    font-size: 18px;
  }

  .objects-block__item-info,
  .objects-block__item-info_right {
    max-width: 100%;
    padding: 10px 15px !important;
  }

  .objects-block__item-info-price-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .objects-block__item-info-price-button_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .objects-block__item-info-price {
    margin-bottom: 20px;
  }

  .form-block {
    height: 630px;
  }
}

@media (max-width: 550px) {
  .first-screen__video {
    height: 600px;
  }
}

@media (max-width: 500px) {
  .servise-block__wrap-h3 {
    font-size: 28px;
  }

  .contacts-block__item {
    background-color: transparent;
    padding: 0px 30px 0 30px;
    height: 100%;
  }

  .contacts-hr_big,
  .contacts-hr_sm {
    display: block;
  }

  .contacts-block__h {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .contacts-block__item-desc {
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .first-screen__text-h1 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
    width: 320px;
    font-weight: 700;
  }

  .first-screen__video {
    height: 500px;
  }

  .first-screen__text-p {
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .second-screen__text-h2 {
    font-size: 26px;
    line-height: 35px;
  }

  .third-screen__form {
    width: 320px;
    top: 4%;
    padding: 30px 15px;
  }

  .third-screen__form-input {
    width: 250px;
  }

  .third-screen__form-h {
    font-size: 24px;
    line-height: 30px;
  }

  .third-screen__form-p {
    font-size: 16px;
    line-height: 25px;
  }

  .servise-block__wrap-a {
    padding: 14px 43px;
  }

  .policy__h,
  .policy__p {
    font-size: 26px;
  }

  .policy__content {
    font-size: 16px;
  }

  .policy__content span a {
    font-size: 16px;
  }

  .policy__content span a:first-child {
    font-size: 14px;
  }
}

.webp .form-block{ background-image: url(../img/form-bg.webp); }

@media (max-width: 900px){

  .webp .first-screen__video{ background-image: url(../img/mob-backg.webp); }
}

@media (max-width: 900px){

  .webp .third-screen__video{ background-image: url(../img/city-bg.webp); }
}